body{
    background:#fbf8f1;
}
#box{
    width:470px;
    height:490px;
    background:#bbada0;
    margin:50px auto;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    position: relative;
}
tr,th{
    padding: 0;
    height: 20px;
    border:2px solid #bbada0;
}
th{
    width: 20px;
}
table{
    border-collapse:collapse;
    background: #f4f4f4;
    position: absolute;top:13px;left:13px;
}
input{
    position: absolute;
    top:460px;
    left:260px;
}
#score{
    position: absolute;
    font-family: "微软雅黑";
    color:#f4f4f4;
    top:460px;
    left:150px;
    font-weight: bold;
}
strong{
    position: absolute;
    font-family: "微软雅黑";
    color:#f4f4f4;
    top:460px;
    left:205px;
}
#GG{
    position: absolute;
    font-family: "微软雅黑";
    color:#bbada0;
    top:15px;
    left:50%;
    margin-left:-66px;
    font-size: 22px;
    font-weight: bold;
    display: none;
}
.cover{
    background: #3398cc;
}
.coverHead{
    background: #3398cc;
}
.food{
    background: green;
}